body {
  background-color: #d4d4d4;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  background-color: #ffffff;
  margin: 50px auto;
  border: #c3c3c3 solid 1px;
  max-width: 985px;
}

.return-link {
  display: block;
  padding-top: 20px;
  padding-left: 15px;
  color: #895e95;
}

.columns {
  display: flex;
}

.tabs {
  grid-row: 4;
  grid-column: span 3;
  background-color: #444;
  display: flex;
  background-color: #895e95;
  height: 60px;
}

.tab-link {
  color: #d6b4df;
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  box-sizing: border-box;
  text-transform: uppercase;
  border-bottom: solid 4px #895e95;
}

.tab-link:hover {
  color: #fff;
  border-bottom: solid 4px #d6b4df;
}

.tab-content {
  padding: 16px 25px;
}

.tab-link.active {
  color: #fff;
  border-bottom: solid 4px #733080;
}

.hidden {
  display: none;
}

.left {
  width: 25%;
  padding: 20px 15px;
}

.right {
  width: 75%;
  padding: 20px 15px;
}

.hotels-list {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.hotels-list li {
  color: #895e95;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 12px 8px;
  gap: 10px;
}

.info-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content min-content auto min-content;
  color: #6b6c7a;
  height: 160px;
}

.section-1,
.section-2 {
  display: flex;
}

.section-1 {
  grid-row: 1;
  grid-column: 1;
  align-items: baseline;
}

.section-2 {
  grid-row: 2;
  grid-column: 1;
  padding-top: 8px;
}

.price {
  grid-row: 1 / 4;
  grid-column: 2;
}

.price-number {
  color: #f48721;
  font-size: 48px;
  font-weight: 900;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
}

.product-image {
  height: 160px;
}

.title,
.address,
.phone {
  padding-right: 10px;
}

.description {
  margin: 0;
}

.address {
  cursor: pointer;
}

.expand-desc,
.expand-det {
  background: none;
  border: none;
  color: #895e95;
  padding: 0;
  padding-top: 20px;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.expand-desc:hover,
.expand-det:hover {
  text-decoration: underline;
}

.details {
  list-style: none;
  padding: 0;
  margin: 0;
}

.details li label {
  font-weight: 900;
}

.map-image {
  width: 100%;
  padding-top: 8px;
}
